
<form id="join_a_room" class="flex flex-col gap-3">
    <%- include('components/heading', { content : "Join An Existing Game" } ) %>
    <!-- <div class="div mt-2"></div> -->
     

    <label class="label font-medium ml-1 font-sen">Room Code</label>
    
    <input
    required 
    type="number" 
    class="p-2  font-sen bg-gray focus:bg-offwhite w-full h-10 rounded border-none text-dark "
    name="roomcode"
    min = 99999
    placeholder = 123456
    max = 999999
    id="roomcode"
    >
    <label class="label font-medium ml-1 font-sen">Room Password</label>
    <input
    required 
        type="text" 
        class="p-2  font-sen bg-gray focus:bg-offwhite w-full h-10 rounded border-none text-dark "
        name="roompassword"
        >
    
    <%- include('components/input-submit-center',{name : "JOIN ROOM"}) %>

</form>

<div class="h-4 border-b-2 my-8 border-gray text-xl text-center">
    <span class="bg-dim px-3">OR</span>
  </div>
<form id="create_a_room" class="flex flex-col gap-5 mb-10">
    <div class="choosegamemode flex flex-col gap-3">
    
        <%- include('components/heading', { content : "Create A New Game" } ) %>
        <!-- <div class="div mt-2"></div> -->

         <label class="label font-medium  ml-1  font-sen">Select A Game Mode</label>

  
    <fieldset id="gamemode" class="mt-2 flex flex-col px-5 sm:px-0 sm:flex-row gap-3 flex-wrap mx-auto">

<%- include('components/gamemode-option.ejs',{ name : "Relaxed", description
    : "When You Want To Just Have Some Fun With Friends Without Bothering Much. " ,bgurl: "https://thumbs.dreamstime.com/b/peaceful-sunrise-over-serene-lake-representing-calm-clarity-can-come-maintaining-healthy-brain-vector-325420496.jpg" , feild : "gamemode", bordercol : "" , checked : "checked" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Competetive", description
    : "When You Are In A Mood To Face A Writing Challenge" ,bgurl: "https://media.istockphoto.com/id/1308800381/vector/conceptual-illustration-of-a-human-brain-spilt-open-to-extract-the-neural-networks.jpg?s=612x612&w=0&k=20&c=BlYsIGKMnj6dT5vAp5n2oNc-3Mdm6oeiFA7gYJLb2Jg=" , feild : "gamemode", bordercol : "" , checked : "" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Creative", description
    : "When You Are In A Mood To Create Something Unique And Funny " ,bgurl: "https://openup.com/wp-content/uploads/2021/08/B2C-Blogvisual-Staying-relaxed-after-vacation-1024x576.png" , feild : "gamemode", bordercol : "" , checked : "" }) %>

</fieldset>
</div>
    <div class="choosemedium">
    <label class="label font-medium ml-1 font-sen">Select A Medium of Creation</label>
  
    <fieldset id="medium" class="mt-2 flex flex-col px-5 sm:px-0 sm:flex-row gap-3 flex-wrap mx-auto">

<%- include('components/gamemode-option.ejs',{ name : "Story", description
    : "Create A Fascinating Story" ,bgurl: "https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/80004f68741469.5bae1b8424f4c.jpg" ,feild : "medium", bordercol : "" , checked : "checked" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Poem", description
    : "Create An Enchanting Poem" ,bgurl: "https://static.vecteezy.com/system/resources/previews/000/239/809/original/vector-beautiful-nature-illustration.jpg" ,feild : "medium", bordercol : "" , checked : "" }) %>

</fieldset>
</div>
<label class="label font-medium ml-1 font-sen">Room Password</label>

<input
required 
type="text" 
class="p-2  font-sen bg-gray focus:bg-offwhite w-full h-10 rounded border-none text-dark "
name="roompassword"
required
>

<%- include('components/input-submit-center',{name : "CREATE A ROOM"}) %>
</form>

<script>
/* Handling Game Mode UI */
const greyscaler = ['grayscale','text-dim']

document.addEventListener('DOMContentLoaded', function() {

    // handling ui of selecting gamemodes & medium

    const gamemode = document.getElementById('gamemode');
    const medium = document.getElementById('medium')
    updateChecked(gamemode)
    updateChecked(medium)

    
    gamemode.addEventListener('click',()=>{
        updateChecked(gamemode)
    })
    
    medium.addEventListener('click',()=>{
        updateChecked(medium)
    })
})


function updateChecked(selectionmode) {
    const inputs = selectionmode.querySelectorAll('input[type="radio"]');
    
    inputs.forEach(input => {
        const label = selectionmode.querySelector(`label[for="${input.id}"] div`);
        if (input.checked) {
            label.classList.remove(...greyscaler);
        } else {
            label.classList.add(...greyscaler);
        }
    });
}
</script>


<script>
    // this script ensures the validation of roomcode

    const input = document.querySelector('#roomcode')
        input.addEventListener('change', ()=>{
            const value = input.value;
            console.log(input.value.length); 
            if(input.value.length != 6){
                 input.setCustomValidity('Room Code Must Be 6 Digits Only.')
            }else {
                 input.setCustomValidity('')

            }
        })

</script>


<!-- This Script Handles Form Submission  -->

<script>

    // this handles creating a room.

    const create_form = document.querySelector("#create_a_room")
    create_form.addEventListener('submit',(e)=>{

        e.preventDefault();
           
        
        const formData = Object.fromEntries(new FormData(create_form));
        console.log(formData);

        fetch('/api/room/create', {
  method: "POST",
  credentials: 'same-origin',
  headers: { 'Content-Type': 'application/json' },
  body: JSON.stringify(formData)
})
  .then(response => {
    console.log(response.status);
    if (response.ok) {
      console.log("Form submitted successfully!");
      return response.json();
    } else {
      console.error('Network response was not ok');
      return response.json().then(data => {
        throw new Error(data.message); // Throw an error with the message from the response
      });
    }
  })
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error('Error submitting form:', error);
    alert(error.message); // Alert the error message when the request fails
  });




    });
    
    
    // this handles joining a room.
    const join_form = document.querySelector("#join_a_room")
    join_form.addEventListener('submit',(e)=>{
        e.preventDefault();



        const formData = Object.fromEntries(new FormData(join_form));
        console.log(formData);

    })
</script>