
<form id="join_a_room">
    <%- include('components/heading', { content : "Join An Existing Game" } ) %>

    <%- include('./components/input-text', { 'label' : "Room Code" , 'type' : "number" }) %>
    <%- include('components/input-submit-center',{name : "JOIN ROOM"}) %>

</form>

<div class="h-4 border-b-2 my-3 border-gray text-xl text-center">
    <span class="bg-dim px-3">OR</span>
  </div>
<form id="create_a_room" class="flex flex-col gap-5 mb-10">
    <div class="choosegamemode">
    <%- include('components/heading', { content : "Choose A Game Mode" } ) %>
  
    <fieldset id="gamemode" class="mt-2 flex flex-col px-5 sm:px-0 sm:flex-row gap-3 flex-wrap mx-auto">

<%- include('components/gamemode-option.ejs',{ name : "Relaxed", description
    : "When You Want To Just Have Some Fun With Friends Without Bothering Much. " ,bgurl: "https://thumbs.dreamstime.com/b/peaceful-sunrise-over-serene-lake-representing-calm-clarity-can-come-maintaining-healthy-brain-vector-325420496.jpg" , feild : "gamemode", bordercol : "" , checked : "checked" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Competetive", description
    : "When You Are In A Mood To Face A Writing Challenge" ,bgurl: "https://media.istockphoto.com/id/1308800381/vector/conceptual-illustration-of-a-human-brain-spilt-open-to-extract-the-neural-networks.jpg?s=612x612&w=0&k=20&c=BlYsIGKMnj6dT5vAp5n2oNc-3Mdm6oeiFA7gYJLb2Jg=" , feild : "gamemode", bordercol : "" , checked : "" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Creative", description
    : "When You Are In A Mood To Create Something Unique And Funny " ,bgurl: "https://openup.com/wp-content/uploads/2021/08/B2C-Blogvisual-Staying-relaxed-after-vacation-1024x576.png" , feild : "gamemode", bordercol : "" , checked : "" }) %>

</fieldset>
</div>
    <div class="choosemedium">
    <%- include('components/heading', { content : "Choose The Medium Of Creation" } ) %>
  
    <fieldset id="medium" class="mt-2 flex flex-col px-5 sm:px-0 sm:flex-row gap-3 flex-wrap mx-auto">

<%- include('components/gamemode-option.ejs',{ name : "Story", description
    : "Create A Fascinating Story" ,bgurl: "https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/80004f68741469.5bae1b8424f4c.jpg" ,feild : "medium", bordercol : "" , checked : "checked" }) %>

<%- include('components/gamemode-option.ejs',{ name : "Poem", description
    : "Create An Enchanting Poem" ,bgurl: "https://static.vecteezy.com/system/resources/previews/000/239/809/original/vector-beautiful-nature-illustration.jpg" ,feild : "medium", bordercol : "" , checked : "" }) %>

</fieldset>
</div>
<%- include('components/input-submit-center',{name : "PLAY GAME"}) %>
</form>

<script>
/* Handling Game Mode UI */
const greyscaler = ['grayscale','text-dim']

document.addEventListener('DOMContentLoaded', function() {
    //giving some props to input of number
    document.getElementById('')



    // handling ui of selecting gamemodes & medium

    const gamemode = document.getElementById('gamemode');
    const medium = document.getElementById('medium')
    updateChecked(gamemode)
    updateChecked(medium)

    
    gamemode.addEventListener('click',()=>{
        updateChecked(gamemode)
    })
    
    medium.addEventListener('click',()=>{
        updateChecked(medium)
    })
})


function updateChecked(selectionmode) {
    const inputs = selectionmode.querySelectorAll('input[type="radio"]');
    
    inputs.forEach(input => {
        const label = selectionmode.querySelector(`label[for="${input.id}"] div`);
        if (input.checked) {
            label.classList.remove(...greyscaler);
        } else {
            label.classList.add(...greyscaler);
        }
    });
}
</script>